---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import "post-list";
@import "post-list-index";

body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.emphasizing-text {
    font-style: italic;
    font-weight: bold;
    text-align: center; 
}

.margin-small {
    margin: 10px;
}

.margin-middle {
    margin: 20px;
}

.site-title {
    @include relative-font-size(1.8);
    font-weight: normal;

    &,
    &:visited {
        color: #8694B5;
    }
}

blockquote {
    @include relative-font-size(1);
}

a {
    & {
        color: #5366B2;
    }

    &:visited {
        color: #A6B4D5;
    }

    &:hover {
        color: #7386F2;
    }
}

.post-title {
    font-weight: bold;
}

.post-content {
    font-weight: normal;
}

.rss-subscribe {
    font-weight: 200;
    @include relative-font-size(0.87);
}

.svg-icon {
    padding-right: 0px;
}
