---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "site.theme";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import "post-list";
@import "post-list-index";

.site-header {
    border: none;
}

body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.emphasizing-text {
    font-style: italic;
    font-weight: bold;
    text-align: center; 
}

.margin-small {
    margin: 10px;
}

.margin-middle {
    margin: 20px;
}

.site-title {
    @include relative-font-size(1);
    font-weight: normal;

    &,
    &:visited {
        color: #3D3D3D;
    }
}

blockquote {
    @include relative-font-size(1);
}

img {
    margin: 10px;
}

a {
    & {
        color: #3D3D3D;
    }

    &:visited {
        color:#3D3D3D;
    }

    &:hover {
        color: #3D3D3D;
    }
}

.post-title {
    @include relative-font-size(1.2);
    font-weight: bold;
}

.post-content {
    font-weight: normal;
}

.rss-subscribe {
    font-weight: 200;
    @include relative-font-size(0.87);
}

.svg-icon {
    padding-right: 0px;
}

.notes {
    background-attachment: local;
    background-image:
      linear-gradient(to right, white 14px, transparent 14px),
      linear-gradient(to left, white 14px, transparent 14px),
      repeating-linear-gradient(white, white 34px, #ccc 34px, #ccc 35px, white 35px);
    line-height: 35px;
  }
  